@model MyFlix.Models.UserModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Home.js"></script>

<h2>Home</h2>

<h3 id="dbUserName">@Html.Raw(@Model.Username)</h3>
<button id="updateUserName">Update Name</button>
<div id="userNameHolder">
	<input type="email" id="newUserName" required/>
	<input type="password" id="password" required/>
	<button id="saveUserName">Save</button>
</div>

<p>Mininmum Rating: @Html.Raw(Model.MinRating)</p>
<button id="updateRating">Update Rating</button>
<div id="ratingHolder">
	<input type="number" id="newRating"/>
	<button id="saveRating">Save</button>
</div>

<br/>

<h3>Favorite Movies</h3>
<ul>
	@foreach (var film in Model.FavoriteFilms)
	{
		<li value="@film.Key">
			<a href="/Home/MovieDetails?id=@film.Key">@film.Value</a>
			<button class="removeFilm" value="@film.Key">Remove</button>
		</li>
	}
</ul>

<h3>Favorite Genres</h3>
<ul>
	@foreach (var genre in Model.FavoriteGenres)
	{
		<li value="@genre">
			<a href="/Home/Search?genre=@genre">@genre</a>
			<button class="removeGenre" value="@genre">Remove</button>
		</li>
	}
</ul>

<h3>Favorite Tags</h3>
<ul>
	@foreach (var tag in Model.FavoriteTags)
	{
		<li value="@tag">
			<a href="/Home/Search?tag=@tag">@tag</a>
			<button class="removeTag" value="@tag">Remove</button>
		</li>
	}
</ul>