@model MyFlix.Models.MovieDetailsModel
@{
    ViewBag.Title = "MovieDetailsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title - @Model.Rating%</h2>
<img src="@Model.ImageURL"/>

<h3>Country of Origin: @Model.Country</h3>

<h3>Directed By @Model.Director</h3>

<h3>Starring</h3>
<ul>
	@foreach(var actor in Model.Actors)
	{
		<li>
			@actor
		</li>
	}
</ul>

<h3>Tags</h3>
<ul>
	@foreach(var tag in Model.Tags)
	{
		<li>
			@tag
		</li>
	}
</ul>
<h3>Genres</h3>
<ul>
	@foreach(var genre in Model.Genres)
	{
		<li>
			@genre
		</li>
	}
</ul>
<h3>Locations</h3>
<ul>
	@foreach(var location in Model.Locations)
	{
		<li>
			@location
		</li>
	}
</ul>

